<span>總金額：</span>
<h3>{{ totalAmount }}</h3>
<ul>
  {{#each records}}
  <li><i class="{{ this.iconClass }}"></i>
    <p>{{ this.name }}</p>
    <p>{{ this.date }}</p>
    <p>{{ this.amount }}</p>
    <a href="/records/{{ this._id }}/edit">修改</a>
    <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
      <button type="submit">刪除</button>
    </form>
  </li>
  {{/each}}
</ul>
<a href="/records/new">新增支出</a>